[flake8]
max-line-length = 88
exclude = 
    .git,
    __pycache__,
    build,
    dist
ignore =
    E203,  # Whitespace before ':'
    W503,  # Line break before binary operator
    F403,  # 'from xxx import *' used; unable to detect undefined names
    E501,  # line too long > 88 characters
    E722,  # do not use bare 'except'
    F405
